<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.RoleMapper">
<!-- 多对多关系映射，使用1对多和多对1嵌套实现，注意映射关系的三张表的主键名称要不相同（rid,pid,rpid），否则只能查到1条记录 -->
	<resultMap type="po.Role" id="roleMap">
        <id column="roleid" property="roleid" ></id>
        <result column="role" property="role"/>
        <result column="description" property="description"/>
        <collection property="role_permissions" column="role_id" ofType="po.Role_permission">  
            <association column="permission_id" property="permission" javaType="po.Permission">
	        	<id column="permissionid" property="permissionid"></id>
	        	<result column="permission" property="permission"/>
	        	<result column="description" property="description"/>
        	</association>  
        </collection>
    </resultMap>

	<select id="getRoles" resultMap="roleMap">
		select * from sys_roles left join sys_roles_permissions on sys_roles.roleid=sys_roles_permissions.role_id left join sys_permissions 
    	on sys_roles_permissions.permission_id=sys_permissions.permissionid
	</select>

    <insert id="addRole" useGeneratedKeys="true" keyProperty="roleid" parameterType="po.Role">
    	insert into sys_roles (role,description) values(#{role},#{description}) 
    </insert>
    
    <insert id="addRolePermission" useGeneratedKeys="true"  parameterType="po.Role_permission">
    	insert into sys_roles_permissions(role_id,permission_id)
    	values (#{0},#{1})
    </insert>
    
    <delete id="deleterole" parameterType="po.Role">
    	delete from sys_roles where roleid=#{roleid}
    </delete>
    
    <delete id="deleterole_permission" parameterType="long">
    	delete from sys_roles_permissions where role_id=#{0} and permission_id={1}
    </delete> 
    
    <delete id="deleteroles" parameterType="long">
    	delete from sys_roles_permissions where role_id=#{0}
    </delete>
    
    <select id="getRolebyid" parameterType="int" resultMap="roleMap">
    	select * from sys_roles left join sys_roles_permissions on sys_roles.roleid=sys_roles_permissions.role_id left join sys_permissions 
    	on sys_roles_permissions.permission_id=sys_permissions.permissionid where sys_roles.roleid=#{roleid}
    </select>
    
</mapper>