<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
<!-- 多对多关系映射，使用1对多和多对1嵌套实现，注意映射关系的三张表的主键名称要不相同（uid,rid,urid），否则只能查到1条记录 -->
	<resultMap type="po.User" id="userMap">
        <id column="id"  property="userid" ></id>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="locked" property="locked" />
        <collection property="user_roles" column="user_id" ofType="po.User_role">  
            <association column="role_id" property="role" javaType="po.Role">
	        	<id column="roleid" property="roleid"></id>
	        	<result column="role" property="role"/>
	        	<result column="description" property="description"/>
        	</association>
        </collection>
    </resultMap>
    
    <select id="getusers" resultMap="userMap">
    	select * from sys_users left join sys_users_roles on sys_users.id=sys_users_roles.user_id left join sys_roles on sys_users_roles.role_id=sys_roles.roleid
    </select>
    
    <select id="getUserByid" resultMap="userMap">
    	select * from sys_users left join sys_users_roles on sys_users.id=sys_users_roles.user_id left join sys_roles on sys_users_roles.role_id=sys_roles.roleid
		where sys_users.userid=#{userid}
    </select>
    
    <select id="getUserByusername" resultMap="userMap">
    	select * from sys_users left join sys_users_roles on sys_users.id=sys_users_roles.user_id left join sys_roles on sys_users_roles.role_id=sys_roles.roleid
    	where username=#{username}
    </select>
    
    <delete id="deleteuser" parameterType="long">
    	delete from sys_users where sys_users.id=#{userid}
    </delete>
    
    <delete id="deleteuserrole" parameterType="long">
    	delete from sys_users_roles where user_id=#{0} and role_id=#{1}
    </delete>
    
    <insert id="adduserrole" parameterType="long">
    	 insert into sys_users_roles (user_id,role_id)
	  	 values (#{0},#{1})
    </insert>
    
    <insert id="adduser" useGeneratedKeys="true" keyProperty="id" parameterType="po.User">
    	 insert into sys_users (username,password,locked)
	  	 values (#{username},#{password},#{locked})
    </insert>
    
    <update id="updateuser" parameterType="po.User">
    	update sys_users set
    		password=#{password},locked=#{locked}
    	where sys_users.id=#{id}
    </update>
</mapper>